<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
      <configSections>
          <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
              <section name="AmigoPapaerWorkProcessSystem.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          </sectionGroup>
      </configSections>
      <userSettings>
          <AmigoPapaerWorkProcessSystem.Core.Properties.Settings>
              <setting name="InputFolderPath" serializeAs="String">
                  <value>C:\\Amigo\\Transfer_receipt_details\\Input</value>
              </setting>
              <setting name="ProcessedFolderPath" serializeAs="String">
                  <value>C:\\Amigo\\Transfer_receipt_details\\Input\\Processed</value>
              </setting>
              <setting name="CheckLogIn" serializeAs="String">
                  <value>http://localhost:6077/opt_CheckLogin.asmx/CheckAuth</value>
              </setting>
          </AmigoPapaerWorkProcessSystem.Core.Properties.Settings>
      </userSettings>
</configuration>