<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmigoPaperWorkProcessSystem._3A.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="InputFolderPath" value="C:\\Amigo\\Transfer_receipt_details\\Input"/>
    <add key="ProcessedFolderPath" value="C:\\Amigo\\Transfer_receipt_details\\Input\\Processed"/>
  </appSettings>
<userSettings>
        <AmigoPaperWorkProcessSystem._3A.Properties.Settings>
                <setting name="ImportBankData" serializeAs="String">
                        <value>http://localhost:6077/opt_3A.asmx/do_3A</value>
                </setting>
        </AmigoPaperWorkProcessSystem._3A.Properties.Settings>
    </userSettings>
</configuration>