<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmigoPaperWorkProcessSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmigoPaperWorkProcessSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>


    <userSettings>
        <AmigoPaperWorkProcessSystem.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GridHeaderColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="GridHeaderFontColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="CustomerList" serializeAs="String">
                <value>http://localhost:6077/opt_38.asmx/getCustomerList?COMPANY_NAME=@COMPANY_NAME&amp;COMPANY_NAME_READING=@COMPANY_READING&amp;BILL_COMPANY_NAME=@BILL_COMPANY_NAME&amp;COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;ACCOUNT_NAME=@ACCOUNT_NAME</value>
            </setting>
            <setting name="CustomerUpdate" serializeAs="String">
                <value>http://localhost:6077/opt_38.asmx/UpdateCustomer</value>
            </setting>
            <setting name="GetBankTR" serializeAs="String">
                <value>http://localhost:6077/opt_31.asmx/ConfirmationOfTransfer?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="NonAmigo_BankTR" serializeAs="String">
                <value>http://localhost:6077/opt_33.asmx/ConfirmationOfTransfer_NonAmigo?strDTMID=@DTMID</value>
            </setting>
            <setting name="Amigo_BankTR" serializeAs="String">
                <value>http://localhost:6077/opt_32.asmx/ConfirmationOfTransfer_Amigo?strDTMID=@DTMID</value>
            </setting>
            <setting name="AmigoToNonAmigo" serializeAs="String">
                <value>http://localhost:6077/opt_32.asmx/ConvertAmigoToNonAmigo</value>
            </setting>
            <setting name="NonAmigoToAmigo" serializeAs="String">
                <value>http://localhost:6077/opt_33.asmx/ConvertNonAmigoToAmigo</value>
            </setting>
            <setting name="ConfirmOfComparisonResult" serializeAs="String">
                <value>http://localhost:6077/opt_34.asmx/ConfirmOfComparisonResult?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="GetUnmatchInvoice" serializeAs="String">
                <value>http://localhost:6077/opt_36.asmx/GetUnmatchInvoice?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="GetMatchInvoice" serializeAs="String">
                <value>http://localhost:6077/opt_35.asmx/GetMatchInvoice?strFromDate=@FromDate&amp;strToDate=@ToDate&amp;strNoReserved=@NoReserved</value>
            </setting>
            <setting name="CancelAllocation" serializeAs="String">
                <value>http://localhost:6077/opt_35.asmx/CancelAllocation</value>
            </setting>
            <setting name="RefundProcess" serializeAs="String">
                <value>http://localhost:6077/opt_36.asmx/RefundProcess?SEQID=@SEQID</value>
            </setting>
            <setting name="GetDataForGrid37" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/GetDataFor37?TRANSACTION_TYPE=@TRANSACTION_TYPE&amp;FROM_YEAR_MONTH=@FROM_YEAR_MONTH&amp;TO_YEAR_MONTH=@TO_YEAR_MONTH&amp;FROM_STATUS_PLAN_DEPOSIT_YYMM=@FROM_STATUS_PLAN_DEPOSIT_YYMM&amp;TO_STATUS_PLAN_DEPOSIT_YYMM=@TO_STATUS_PLAN_DEPOSIT_YYMM&amp;FROM_STATUS_ACTUAL_DEPOSIT_DATE=@FROM_STATUS_ACTUAL_DEPOSIT_DATE&amp;TO_STATUS_ACTUAL_DEPOSIT_DATE=@TO_STATUS_ACTUAL_DEPOSIT_DATE&amp;DEPOSIT_RULE=@DEPOSIT_RULE&amp;WITH_OR_WITHOUT_PAYMENT=@WITH_OR_WITHOUT_PAYMENT&amp;BILL_SUPPLIER_NAME=@BILL_SUPPLIER_NAME</value>
            </setting>
            <setting name="UpdateInvoice" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/UpdateInvoice</value>
            </setting>
            <setting name="Get35_AccountingCSV" serializeAs="String">
                <value>http://localhost:6077/opt_35.asmx/GetAccountingCSV?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="Schedule_Payment" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/Scheduled_Payment?TRANSACTION_TYPE=@TRANSACTION_TYPE&amp;FROM_YEAR_MONTH=@FROM_YEAR_MONTH&amp;TO_YEAR_MONTH=@TO_YEAR_MONTH&amp;FROM_STATUS_PLAN_DEPOSIT_YYMM=@FROM_STATUS_PLAN_DEPOSIT_YYMM&amp;TO_STATUS_PLAN_DEPOSIT_YYMM=@TO_STATUS_PLAN_DEPOSIT_YYMM&amp;FROM_STATUS_ACTUAL_DEPOSIT_DATE=@FROM_STATUS_ACTUAL_DEPOSIT_DATE&amp;TO_STATUS_ACTUAL_DEPOSIT_DATE=@TO_STATUS_ACTUAL_DEPOSIT_DATE&amp;DEPOSIT_RULE=@DEPOSIT_RULE&amp;WITH_OR_WITHOUT_PAYMENT=@WITH_OR_WITHOUT_PAYMENT&amp;BILL_SUPPLIER_NAME=@BILL_SUPPLIER_NAME</value>
            </setting>
            <setting name="Account_Receivable" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/Account_Receivable?TRANSACTION_TYPE=@TRANSACTION_TYPE&amp;FROM_YEAR_MONTH=@FROM_YEAR_MONTH&amp;TO_YEAR_MONTH=@TO_YEAR_MONTH&amp;FROM_STATUS_PLAN_DEPOSIT_YYMM=@FROM_STATUS_PLAN_DEPOSIT_YYMM&amp;TO_STATUS_PLAN_DEPOSIT_YYMM=@TO_STATUS_PLAN_DEPOSIT_YYMM&amp;FROM_STATUS_ACTUAL_DEPOSIT_DATE=@FROM_STATUS_ACTUAL_DEPOSIT_DATE&amp;TO_STATUS_ACTUAL_DEPOSIT_DATE=@TO_STATUS_ACTUAL_DEPOSIT_DATE&amp;DEPOSIT_RULE=@DEPOSIT_RULE&amp;WITH_OR_WITHOUT_PAYMENT=@WITH_OR_WITHOUT_PAYMENT&amp;BILL_SUPPLIER_NAME=@BILL_SUPPLIER_NAME</value>
            </setting>
            <setting name="DefaultDimentions" serializeAs="String">
                <value>1300, 640</value>
            </setting>
            <setting name="ManualAllocation" serializeAs="String">
                <value>http://localhost:6077/opt_3B.asmx/do_ManualAllocation?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;YEAR_MONTH=@YEAR_MONTH</value>
            </setting>
            <setting name="ManualAllocationComplete" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/AllocationManualCompletion?ALLOCATE=@ALLOCATE&amp;SEQ_NO=@SEQ_NO&amp;COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;YEAR_MONTH=@YEAR_MONTH&amp;RECEIPT_ALLOCATION_DATE=@RECEIPT_ALLOCATION_DATE&amp;INVOICE_ALLOCATION_DATE=@INVOICE_ALLOCATION_DATE</value>
            </setting>
            <setting name="JimugoBgColor" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="jimugoForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GetCompanyCodeList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_CompanyCodeList.asmx/GetCompanyCodeList?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;COMPANY_NAME=@COMPANY_NAME&amp;EMAIL=@EMAIL&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT</value>
            </setting>
            <setting name="UpdateCompanyCodeList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_CompanyCodeList.asmx/UpdateList</value>
            </setting>
            <setting name="GetPassword" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_CompanyCodeList.asmx/GetPassword</value>
            </setting>
            <setting name="SendMail" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_CompanyCodeList.asmx/SendMail</value>
            </setting>
            <setting name="GetUsageRegList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageInfoRegistrationList.asmx/getUsageInformationRegistrationList?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;COMPANY_NAME=@COMPANY_NAME&amp;EDI_ACCOUNT=@EDI_ACCOUNT&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT</value>
            </setting>
            <setting name="UpdateUsageRegList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageInfoRegistrationList.asmx/UpdateList</value>
            </setting>
            <setting name="SettingCompleteMail" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageInfoRegistrationList.asmx/SettingCompleteMail</value>
            </setting>
            <setting name="GetIssueQuotationInitialData" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_IssueQuotation.asmx/GetInitialData?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;REQ_SEQ=@REQ_SEQ</value>
            </setting>
            <setting name="jimugoFont" serializeAs="String">
                <value>Meiryo UI, 8.25pt</value>
            </setting>
            <setting name="GetClientCertificateList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_ClientCertificateList.asmx/GetClientCertificateList?FY=@FY&amp;COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;CLIENT_CERTIFICATE_NO=@CLIENT_CERTIFICATE_NO&amp;DISTRIBUTION_STATUS=@DISTRIBUTION_STATUS&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT</value>
            </setting>
            <setting name="UpdateClientCertificateList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_ClientCertificateList.asmx/UpdateList</value>
            </setting>
            <setting name="SendMailClientCertificate" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_ClientCertificateList.asmx/SendMail</value>
            </setting>
            <setting name="GetEDICandidates" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageInfoRegistrationList.asmx/GetEDICandidates</value>
            </setting>
            <setting name="GetEDIAccountDetail" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageInfoRegistrationList.asmx/ExtractEDIAutoInfo?COMPANY_NO_BOX=@COMPANY_NO_BOX</value>
            </setting>
            <setting name="GetCustomerMasterMaintenance" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_CustomerMasterMaintenance.asmx/GetMaintenance?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;COMPANY_NAME=@COMPANY_NAME&amp;COMPANY_NAME_READING=@NAME_READING&amp;EDI_ACCOUNT=@EDI_ACCOUNT&amp;MAIL_ADDRESS=@MAIL_ADDRESS&amp;CONTRACTOR=@CONTRACTOR&amp;INVOICE=@INVOICE&amp;SERVICE_DESK=@SERVICE_DESK&amp;NOTIFICATION_DESTINATION=@NOTIFICATION_DESTINATION&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT
</value>
            </setting>
            <setting name="GetPurchaseOrdertem" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_PurchaseOrder.asmx/Search?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;REQ_SEQ=@REQ_SEQ</value>
            </setting>
            <setting name="SubmitPurchaseOrder" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_PurchaseOrder.asmx/SubmitOrderRegister</value>
            </setting>
            <setting name="GetUsageApplicationList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageApplicationList.asmx/Search?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;COMPANY_NAME=@COMPANY_NAME&amp;CLOSE_FLG=@CLOSE_FLG&amp;GD=@GD&amp;REQUEST_STATUS=@REQUEST_STATUS&amp;REQ_DATE_FROM=@REQ_DATE_FROM&amp;REQ_DATE_TO=@REQ_DATE_TO&amp;QUOTATION_DATE_FROM=@QUOTATION_DATE_FROM&amp;QUOTATION_DATE_TO=@QUOTATION_DATE_TO&amp;ORDER_DATE_FROM=@ORDER_DATE_FROM&amp;ORDER_DATE_TO=@ORDER_DATE_TO&amp;SYSTEM_SETTING_STATUS=@SYSTEM_SETTING_STATUS&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT</value>
            </setting>
            <setting name="UpdateUsageApplicationList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageApplicationList.asmx/Update</value>
            </setting>
            <setting name="UpdateApplicationCancel" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageApplicationList.asmx/UpdateApplicationCancel</value>
            </setting>
            <setting name="UpdateConfirmationRequest" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageApplicationList.asmx/ConfirmationRequest</value>
            </setting>
            <setting name="UpdateConfirmationComplete" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageApplicationList.asmx/ConfirmationComplete</value>
            </setting>
            <setting name="GetSubProgramLists" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageApplicationList.asmx/GetSubProgramLists</value>
            </setting>
            <setting name="GetScreenDataNotificatoinSending" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_RegisterCompleteNotificationSending.asmx/Search?COMPANY_NO_BOX=@COMPANY_NO_BOX</value>
            </setting>
            <setting name="PreviewNotification" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_RegisterCompleteNotificationSending.asmx/PreviewProcessNotiSending</value>
            </setting>
            <setting name="UpdateUsageChargeMaster" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageChargeMaster.asmx/UpdateList</value>
            </setting>
            <setting name="GetUsageChargeMaster" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_UsageChargeMaster.asmx/GetUsageChargeMasterList?CONTRACT_CODE=@CONTRACT_CODE&amp;CONTRACT_NAME=@CONTRACT_NAME&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT</value>
            </setting>
            <setting name="SendMailNotification" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_RegisterCompleteNotificationSending.asmx/SendMailNotification</value>
            </setting>
            <setting name="PreviewQuotation" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_IssueQuotation.asmx/DoPreview</value>
            </setting>
            <setting name="QuotationMailCreate" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_IssueQuotation.asmx/QuotationMailCreate</value>
            </setting>
            <setting name="GetPopupScreenData" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_CustomerMasterMaintenance.asmx/GetPopupScreenData?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;REQ_SEQ=@REQ_SEQ</value>
            </setting>
            <setting name="UpdateCustomerMasterList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_CustomerMasterMaintenance.asmx/Update</value>
            </setting>
            <setting name="ApplicationApproval_GetInitialData" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_ApplicationApproval.asmx/GetClientCertificateList</value>
            </setting>
            <setting name="ApplicationApproval_Disapprove" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_ApplicationApproval.asmx/Disapprove</value>
            </setting>
            <setting name="ApplicationApproval_ApproveCancel" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_ApplicationApproval.asmx/ApproveCancel</value>
            </setting>
            <setting name="ApplicationApproval_Approve" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_ApplicationApproval.asmx/Approve</value>
            </setting>
            <setting name="GetTempFile" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_FileServices.asmx/GetTempFile</value>
            </setting>
            <setting name="getMonthlySaleAggregationlist" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_MonthlySaleAggregationList.asmx/getMonthlySaleAggregationList</value>
            </setting>
            <setting name="DeleteTempFile" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_FileServices.asmx/DeleteTempFile</value>
            </setting>
            <setting name="getMonthlySaleComparisonlist" serializeAs="String">
                <value>http://localhost:6077/Jimugo/MonthlySaleComparisonList.asmx/getMonthlySaleComparisonList?YEAR_MONTH1=@strYYYMM1&amp;YEAR_MONTH2=@strYYMM2&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT
</value>
            </setting>
            <setting name="GetInvoiceList" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_InvoiceList.asmx/GetInvoiceList?BILLING_DATE=@BILLING_DATE&amp;OFFSET=@OFFSET&amp;LIMIT=@LIMIT</value>
            </setting>
            <setting name="CreateInvoiceData" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_InvoiceList.asmx/CreateInvoiceData?YEAR_MONTH=@YEAR_MONTH</value>
            </setting>
            <setting name="GetInvoiceListForCSVCreate" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_InvoiceList.asmx/CreateCSVFile?YEAR_MONTH=@YEAR_MONTH</value>
            </setting>
        </AmigoPaperWorkProcessSystem.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AmigoPaperWorkProcessSystem.Properties.Settings>
            <setting name="getJimugoMenu" serializeAs="String">
                <value>http://localhost:6077/Jimugo/opt_jimugo.asmx/getJimugoMenu</value>
            </setting>
        </AmigoPaperWorkProcessSystem.Properties.Settings>
    </applicationSettings>
</configuration>